.html-content {
    font-size: 1.125rem;
    margin-bottom: 2.5rem
}

.html-content img {
    max-height: 125;
    width: auto;
    margin: 1.875rem
}

.html-content img.float-right {
    margin: 0 0 1.875rem 1.875rem
}

.float-right {
    float: right !important
}